*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    overflow-y: auto;
}

html{
    background-image: url(images/batthern-1920x1080\ \(2\).png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;

}

header{
display: flex;
justify-content: space-between;
align-items: center;


}

.logo{
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 50px;
    font-family: "Archivo Black", serif;
    font-weight: 32px;
    display: flex;
    width: 100%;

}

#sd {
   font-family: 'Courier New', Courier, monospace;
   margin-top: 1.9rem;
   margin-left: 1rem;
   font-size: 16px;
   display: flex;
   opacity: 0.5;

   
}

.navigation ul  {
    display: flex;
    list-style: none;
    gap: 5rem;
    font-size: 18px;
    margin-top: 1.3rem;
    margin-left: 90rem;

}

.navigation ul a{

text-decoration: none;
color: white;
font-family: "Roboto", serif;
}

.navigation ul a:hover{
    color: aqua;
    transition: 0.60s;
}

.header{
    color: white;
    font-size: 130px;
    font-family: "Archivo Black", serif;
    font-weight: 32px;
    display: flex;
    line-height: 190px;
    margin-left: 15rem;
    
}

.main{
    margin-top: 10%;
}

.md{
    color: white;
    font-family: "Roboto", serif;
    font-size:  1.5rem;
    margin: 10px;
    margin-left: 20rem;
    opacity: 0.7;
    margin-top: 20px;
}

button{
    margin-top: 2rem;
    margin-left: 20rem;
}

#Button_one{
 height: 5rem;
 width: 40rem;
 background-color: aqua;
 border-radius: 67px;
 font-family: "Archivo Black", serif;
 font-size: 40px;
 
}

#Button_one:hover{
    background-color: aquamarine;
}

#an {
   color: aqua;
   margin-top: 1.5rem;
   margin-left: 30rem;
   font-family: "Roboto", serif;

}

